


<div id="successOder" class="modal fade" role="dialog">
    <div class="modal-content">
        <div class="text-center modal-body">
            <div class="modalQA_right">
                <i class="fa fa-smile-o" aria-hidden="true"></i>
            </div>
            <div class="modalQA_left">
                <b>Thành công</b>
                <p class="text-xs" id="CodeOder"></p>
            </div>
            <div class="erro_modal-room">
                <button id="opacitysuccess" type="button" class="btn btn-success btn-sm QA_erro mr-1" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div><!-- end mode chua chon dich vu -->
