@{
    ViewBag.Title = "NotificationAuthorise";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@*<style>
    ul {
        list-style: none;
        width: inherit;
        height: inherit;
        display: flex;
        align-items: center;
        justify-content: center;
        li;

    {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 1px;
        height: 90px;
        width: 195px;
        background: #202020;
        border-top: 1px solid #353535;
        box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.5);
        transition: all .5s;
        &:nth-of-type(1);

    {
        border-top-left-radius:30px;
        border-bottom-left-radius:30px;
    }

    &:last-of-type {
        border-top-right-radius:30px;
        border-bottom-right-radius:30px;
    }

    &:hover {
        cursor: pointer;
    }

    a {
        display: inline-block;
        color: gray;
        text-decoration: none;
        font-size: 20px;
        transition: all .5s;
    }

    }
    }


    .active {
        background: #151515;
        border-top: none;
        border-bottom: 1px solid #252525;
        box-shadow: inset 0 0 10px 1px rgba(0, 0, 0, 0.8);
    }

    .active-text {
        color: crimson;
        text-shadow: 0 0 15px rgba(220, 10, 10, 0.5);
    }

</style>*@
<div class="vd_container" style="min-height: 700px; width:100%; padding:0px;margin:0px;">
    <div class="vd_content clearfix">
        <div class="vd_head-section clearfix">
            <div class="vd_panel-header">
                <ul class="breadcrumb" style="font-size:16px;">
                    <li><a style="color:#100e0e"><b style="font-size:16px;">HOME</b></a> </li>
                    <li ><b style="font-size:16px;">NotificationAuthorise </b></li>
                </ul>
                <div class="vd_panel-menu hidden-sm hidden-xs" data-intro="
                    <strong>Expand Control tiệp</strong><br />To expand content page horizontally, vertically, or Both. If you just need one button just simply remove the other button code." data-step=5  data-position="left">
                    <div data-action="remove-navbar" data-original-title="Remove Navigation Bar Toggle" data-toggle="tooltip" data-placement="bottom" class="remove-navbar-button menu"> <i class="glyphicon glyphicon-resize-horizontal"></i> </div>
                    <div data-action="remove-header" data-original-title="Remove Top Menu Toggle" data-toggle="tooltip" data-placement="bottom" class="remove-header-button menu"> <i class="glyphicon glyphicon-resize-vertical"></i> </div>
                    <div data-action="fullscreen" data-original-title="Remove Navigation Bar and Top Menu Toggle" data-toggle="tooltip" data-placement="bottom" class="fullscreen-button menu"> <i class="glyphicon glyphicon-fullscreen"></i> </div>
                </div>
            </div>
        </div>
      
        <div class="row">
            <div class="col-md-12">
                <div class="panel widget" style="padding:0px;margin:0px;">
                    <div class="alert alert-danger">
                        <h1>  Bạn không có quyền truy cập vào chức năng này.</h1>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

