
<div class="modal fade" id="QA_Modal_bill">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="width:520px;">
            <div class="QA_modal-body black">
                <div class="card-headerr lepvc" id="border_0" style="font-size: 13px; position: relative;">
                    <div class="row ">
                        <div class="col-1">
                            <img src="" class="logo_res brand-image img-circle" alt="QA" style="height:38px;display:inline-block;" />
                        </div>
                        <div class="col-5" id="show_time">

                        </div>
                        <div class="col-6">
                            <div class="text-center text-uppercase tencongty"> </div>
                            <p class="text-primary viethoaCT"></p>
                        </div>
                    </div>


                    <!-- /.card-header -->
                    <div class="card-body p-0 mauchu">
                        <table class="table ">
                            <tr>
                                <td class="text-center">STT</td>
                                <td>Tên dịch vụ</td>
                                <td class="text-center">Số tiền</td>
                                <td class="text-center">Ghi chú</td>
                            </tr>
                            <tbody id="show_content">
                            </tbody>
                            <tbody>
                                <tr id="giam_gia">

                                </tr>
                                @*<tr id="giamgia_admin_tienmat"></tr>*@
                                <tr id="thueneuco"></tr>
                                <tr id="phuphi_neuco"></tr>
                            </tbody>
                            <tr>
                                <td class="text-left" colspan="3"> <b>THỰC THU</b> </td>
                                <td class="text-right"><b class="text-danger" id="tongphaithu" style="font-size: 25px;"> </b></td>
                                <td></td>
                            </tr>
                            
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <div class="modal-room justify-content-between d-inline-block float-right">
                    <p class="text-left text-xs text-danger m-0 d-inline-block"><small class="camon"> </small></p>
                    <button class="btn btn-xs btn-danger  mt-2 m-2" data-dismiss="modal"><i class="fa fa-times"></i> Hủy</button>
                    <button type="submit" id="Save_Bill" class="btn btn-xs btn-primary mt-2 m-2"><i class="fa fa-save"></i> Lưu</button>
                </div>
            </div>
        </div>
    </div>
</div>